:root{
    --bg-color: #007bff;
    --text-color: #343a40;
    --shadow-color: rgba(0,0,0,0.2);
    --image-size: 200px;
    --max-width: 1200px;
    --main-padding: 10px;
}
@font-face {
    font-family: 'Monserat';
    src: url('/assets/fonts/Montserrat.ttf') format('ttf');
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--bg-color);
    color: var(--text-color);   
    font-family: 'Monserat', sans-serif;
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}
.container{
    max-width: var(--max-width);
    margin : 0 auto;
    padding: var(--main-padding);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    border: var(--shadow-color) 2px solid;
    height: 100vh;
    width: 100%;
    }
.container img{
    width: 200px;
    height: 200px;
    object-fit: cover;
}
.container h2{
    text-transform: capitalize;
}
.container a{
    text-decoration: none;
    color: var(--text-color);
    font-weight: bold;
    font-size: 1.3rem
}